
<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @movie.category %>
</p>

<p>
  <strong>Releasedyear:</strong>
  <%= @movie.releasedyear %>
</p>

<p>
  <strong>Price:</strong>
  <%= @movie.price %>
</p>
<%= link_to image_tag @movie.image.url(:medium)  %>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
